[submodule ".vim.symlink/bundle/ctrlp.vim"]
	path = .vim.symlink/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim.symlink/bundle/vim-scala"]
	path = .vim.symlink/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule ".vim.symlink/bundle/play2vim"]
	path = .vim.symlink/bundle/play2vim
	url = git@github.com:gre/play2vim.git
[submodule ".vim.symlink/bundle/nerdcommenter"]
	path = .vim.symlink/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule ".vim.symlink/bundle/vim-javascript"]
	path = .vim.symlink/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim.symlink/bundle/html5.vim"]
	path = .vim.symlink/bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "sbt"]
	path = sbt
	url = git@github.com:paulp/sbt-extras.git
[submodule ".vim.symlink/bundle/vim-surround"]
	path = .vim.symlink/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim.symlink/bundle/ag.vim"]
	path = .vim.symlink/bundle/ag.vim
	url = https://github.com/derekwyatt/ag.vim
[submodule ".vim.symlink/bundle/vim-easymotion"]
	path = .vim.symlink/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule ".vim.symlink/bundle/vim-commentary"]
	path = .vim.symlink/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
