[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule ".vim/bundle/play2vim"]
	path = .vim/bundle/play2vim
	url = git@github.com:gre/play2vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule ".emacs.d/evil"]
	path = .emacs.d/evil
	url = git://gitorious.org/evil/evil.git
[submodule "sbt"]
	path = sbt
	url = git@github.com:paulp/sbt-extras.git
