[user]
        name = Ali Sinan Köksal
        email = alisinan@gmail.com
[alias]
        ci = commit
        co = checkout
        st = status
        lg = log --stat --date=local --graph --decorate --all
        sci = svn dcommit
        sup = svn rebase
        wdiff = diff --color-words
[color]
        ui = true
[core]
	editor = vim
