*.pyc
*.swp
.sbt.symlink/boot
.sbt.symlink/launchers
.sbt.symlink/*/plugins/project
.sbt.symlink/*/plugins/target
.sbt.symlink/*/target
.vim.symlink/bundle/target
.emacs.d.symlink/elpa
.emacs.d.symlink/ensime
.DS_Store
